<table>
  <thead>
    <tr>
      <th *ngFor="let header of columnHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let i = index" (click)="onRowClick(row, i)">
      <td *ngFor="let header of dataKeys" [ngStyle]="{
        background: i % 2 === 0
          ? 'var(--block-child-background)'
          : 'var(--block-background)'
      }">
        <!-- Если это колонка с действиями - рисуем кнопку -->
        <div *ngIf="header === 'actions'" class="action-cell">
          <button class="delete-btn" (click)="$event.stopPropagation(); onDelete(row)">🗑️</button>
        </div>
        
        <!-- Если это первая колонка (id или admin_id) - рисуем кружок -->
        <div *ngIf="header !== 'actions' && (header === 'admin_id' || header === 'id')" class="circle">
          {{ row[header] }}
        </div>
        
        <!-- Иначе просто текст -->
        <p *ngIf="header !== 'actions' && header !== 'admin_id' && header !== 'id'">
          {{ row[header] }}
        </p>
      </td>
    </tr>
  </tbody>
</table>